<div class="forecast-card-container">
  <div class="forecast-card-date-container">
    <label>{{this.dateString}}</label>
  </div>
  <div class="forecast-card-icon-container">
    <div>
      {{svg-jar this.icon}}
    </div>
    {{@forecastCard.dayIconPhrase}}
  </div>
  <!--  {{svg-jar @forecastCard.nightIconCode}}-->
  <div>
    <label>
      {{format-temperature @forecastCard.minTemp @temperatureUnit}}° - {{format-temperature @forecastCard.maxTemp @temperatureUnit}}°
    </label>
  </div>



</div>
{{yield}}