{{page-title "Location"}}
<h3>Ember Weather Forecast Location</h3>
<Checkbox @label={{'Show in Celsius'}} @onSetChecked={{action this.setCelsiusChecked}} />
<EmberWeatherForecast
        @emberForecastCards={{@model.emberForecastCards}}
        @temperatureUnit={{this.temperatureUnit}}
/>

{{outlet}}